In [1]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

# visulaisation
from matplotlib.pyplot import xticks
%matplotlib inline

In [2]:
POS_CASH_balance = pd.DataFrame(pd.read_csv('C:/Users/kalin/POS_CASH_balance.csv'))
POS_CASH_balance

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
...,...,...,...,...,...,...,...,...
10001353,2448283,226558,-20,6.0,0.0,Active,843,0
10001354,1717234,141565,-19,12.0,0.0,Active,602,0
10001355,1283126,315695,-21,10.0,0.0,Active,609,0
10001356,1082516,450255,-22,12.0,0.0,Active,614,0
10001357,1259607,174278,-52,16.0,0.0,Completed,0,0

In [3]:
prof = ProfileReport(POS_CASH_balance)
prof.to_file(output_file='POS_CASH_balance.html')

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

C:\Users\kalin\anaconda3\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# traitement des données manquantes

In [3]:
# pourcentage de données manquantes de chaque variables :
count = POS_CASH_balance.isnull().sum().sort_values(ascending=False)
percentage = ((POS_CASH_balance.isnull().sum()/len(POS_CASH_balance)*100)).sort_values(ascending=False)
missing_application = pd.concat([count, percentage], axis=1, keys=['Count','Percentage'])
print('Count and percentage of missing values s:')
missing_application

Count and percentage of missing values s:

                       Count  Percentage
CNT_INSTALMENT_FUTURE  26087    0.260835
CNT_INSTALMENT         26071    0.260675
SK_ID_PREV                 0    0.000000
SK_ID_CURR                 0    0.000000
MONTHS_BALANCE             0    0.000000
NAME_CONTRACT_STATUS       0    0.000000
SK_DPD                     0    0.000000
SK_DPD_DEF                 0    0.000000

In [4]:
# Remplacer en utilisant la médiane

def DM_mediane (data, var):
    median = data[var].median()
    data[var].fillna(median, inplace=True)

In [5]:
DM_mediane(POS_CASH_balance,'CNT_INSTALMENT')
DM_mediane(POS_CASH_balance,'CNT_INSTALMENT_FUTURE')

In [6]:
POS_CASH_balance.columns[POS_CASH_balance.isnull().any()]

Index([], dtype='object')

In [12]:
prof = ProfileReport(POS_CASH_balance)
prof.to_file(output_file='POS_CASH_balance.html')

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

C:\Users\kalin\anaconda3\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Transformation des données quantitatives

In [7]:
to_log=['CNT_INSTALMENT', 'CNT_INSTALMENT_FUTURE', 'SK_DPD', 'SK_DPD_DEF']

In [8]:
POS_CASH_balance_log = POS_CASH_balance[to_log].applymap(lambda x: np.log(x+1))
POS_CASH_balance_log

          CNT_INSTALMENT  CNT_INSTALMENT_FUTURE    SK_DPD  SK_DPD_DEF
0               3.891820               3.828641  0.000000         0.0
1               3.610918               3.583519  0.000000         0.0
2               2.564949               2.302585  0.000000         0.0
3               3.891820               3.761200  0.000000         0.0
4               3.610918               3.583519  0.000000         0.0
...                  ...                    ...       ...         ...
10001353        1.945910               0.000000  6.738152         0.0
10001354        2.564949               0.000000  6.401917         0.0
10001355        2.397895               0.000000  6.413459         0.0
10001356        2.564949               0.000000  6.421622         0.0
10001357        2.833213               0.000000  0.000000         0.0

[10001358 rows x 4 columns]

In [9]:
#suppression des  variables à transformer dans la table POS_CASH_balance
POS_CASH_balance = POS_CASH_balance.drop(to_log, axis=1)
POS_CASH_balance

          SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE NAME_CONTRACT_STATUS
0            1803195      182943             -31               Active
1            1715348      367990             -33               Active
2            1784872      397406             -32               Active
3            1903291      269225             -35               Active
4            2341044      334279             -35               Active
...              ...         ...             ...                  ...
10001353     2448283      226558             -20               Active
10001354     1717234      141565             -19               Active
10001355     1283126      315695             -21               Active
10001356     1082516      450255             -22               Active
10001357     1259607      174278             -52            Completed

[10001358 rows x 4 columns]

In [10]:
#ajout des varaibales transformées dans la table POS_CASH_balance
POS_CASH_balance2 = pd.concat([POS_CASH_balance, POS_CASH_balance_log], axis=1)
POS_CASH_balance2

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,NAME_CONTRACT_STATUS,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,Active,3.891820,3.828641,0.000000,0.0
1,1715348,367990,-33,Active,3.610918,3.583519,0.000000,0.0
2,1784872,397406,-32,Active,2.564949,2.302585,0.000000,0.0
3,1903291,269225,-35,Active,3.891820,3.761200,0.000000,0.0
4,2341044,334279,-35,Active,3.610918,3.583519,0.000000,0.0
...,...,...,...,...,...,...,...,...
10001353,2448283,226558,-20,Active,1.945910,0.000000,6.738152,0.0
10001354,1717234,141565,-19,Active,2.564949,0.000000,6.401917,0.0
10001355,1283126,315695,-21,Active,2.397895,0.000000,6.413459,0.0
10001356,1082516,450255,-22,Active,2.564949,0.000000,6.421622,0.0
10001357,1259607,174278,-52,Completed,2.833213,0.000000,0.000000,0.0

In [11]:
POS_CASH_balance2.columns[POS_CASH_balance2.isnull().any()]

Index([], dtype='object')

# Fichier CSV

In [12]:
POS_CASH_balance2.to_csv('C:/Users/kalin/POS_CASH_balance_FE.csv')

In [ ]:
#pandas profiling 

prof = ProfileReport(POS_CASH_balance2)
prof.to_file(output_file='POS_CASH_balance2.html')

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

C:\Users\kalin\anaconda3\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

# Pas de données abérrantes

# Preprocess POS_CASH_balance

In [13]:
# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category) # dummy_na =Add a column to indicate NaNs, if False NaNs are ignored
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

In [14]:
def pos_cash(num_rows = None, nan_as_category = True):
    pos = pd.read_csv('C:/Users/kalin/POS_CASH_balance_FE.csv', nrows = num_rows)
    pos, cat_cols = one_hot_encoder(pos, nan_as_category= True)
    
    # Features
    aggregations = {
        'MONTHS_BALANCE': ['max', 'mean', 'size'],
        'SK_DPD': ['max', 'mean'],
        'SK_DPD_DEF': ['max', 'mean']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    
    pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
    pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
    
    # Count pos cash accounts
    pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()
    del pos
    
    return pos_agg

In [15]:
pos_cash_FE = pos_cash(num_rows = None, nan_as_category = True)
pos_cash_FE

,POS_MONTHS_BALANCE_MAX,POS_MONTHS_BALANCE_MEAN,POS_MONTHS_BALANCE_SIZE,POS_SK_DPD_MAX,POS_SK_DPD_MEAN,POS_SK_DPD_DEF_MAX,POS_SK_DPD_DEF_MEAN,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_nan_MEAN,POS_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,
100001,-53,-72.555556,9,2.079442,0.231049,2.079442,0.231049,0.777778,0.0,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0,9
100002,-1,-10.000000,19,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0,19
100003,-18,-43.785714,28,0.000000,0.000000,0.000000,0.000000,0.928571,0.0,0.0,0.0,0.071429,0.0,0.0,0.000000,0.0,0,28
100004,-24,-25.500000,4,0.000000,0.000000,0.000000,0.000000,0.750000,0.0,0.0,0.0,0.250000,0.0,0.0,0.000000,0.0,0,4
100005,-15,-20.000000,11,0.000000,0.000000,0.000000,0.000000,0.818182,0.0,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,-1,-5.000000,9,0.000000,0.000000,0.000000,0.000000,0.777778,0.0,0.0,0.0,0.111111,0.0,0.0,0.111111,0.0,0,9
456252,-76,-79.000000,7,0.000000,0.000000,0.000000,0.000000,0.857143,0.0,0.0,0.0,0.142857,0.0,0.0,0.000000,0.0,0,7
456253,-57,-79.235294,17,1.791759,0.105398,1.791759,0.105398,0.882353,0.0,0.0,0.0,0.117647,0.0,0.0,0.000000,0.0,0,17
456254,-1,-5.550000,20,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0,20
456255,-2,-16.408451,71,1.791759,0.025236,1.791759,0.025236,0.915493,0.0,0.0,0.0,0.084507,0.0,0.0,0.000000,0.0,0,71

# Fichier CSV

In [16]:
pos_cash_FE.to_csv('C:/Users/kalin/pos_cash_FE.csv')